<div class="container">
  <div class="row">
    <dvt-post class="col" autor="Jorge Argudo" titulo="Proyección de contenido en Ángular">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, accusamus itaque impedit est cumque illo possimus sapiente ea natus laudantium corrupti animi, mollitia incidunt iusto excepturi nisi sit, consequatur sed.</p>
      <p>Ipsum incidunt porro enim autem praesentium ullam saepe placeat doloribus ipsam molestias dignissimos dolor minima consequatur facilis natus aliquid nemo, quasi, ducimus rerum? Voluptatum facere distinctio nemo quibusdam laudantium magni.</p>
      <p>Voluptatibus iste rem nostrum dolor voluptas velit dolorem nobis consequuntur eligendi rerum autem reprehenderit error possimus magnam asperiores natus vitae, veritatis accusamus tempora id numquam, cupiditate, porro quas. Natus, suscipit.</p>
      <p>Vero ipsum assumenda quos ratione dolorum tempore odio incidunt cum minima aspernatur, ullam quia maxime, ipsam itaque saepe suscipit, molestias aut? Cumque maiores sint ipsa ratione assumenda architecto veritatis exercitationem.</p>
      <p>Fugit illum at possimus cum unde aliquam, sit impedit eius odit ea temporibus nulla sequi aperiam vero a laboriosam nostrum autem in. Ab, autem fugit? Animi deserunt ducimus culpa voluptatum.</p>
    </dvt-post>
  </div>
</div>